<table summary="Strategies" id="strategies">
	<tr>
		<th>Strategy</th>
		<th>isRunning</th>
		<th>Unlock</th>
		<th>ADX</th>
		<th>+DI</th>
		<th>-DI</th>
		<th>currentRate</th>
		<th>stopLoss</th>
		<th>Placed</th>
		<th>maxCurrentRate</th>
		<th>nextUpdate</th>
		<th>accion</th>
		<th>operID</th>
		<th>beneficioTotal</th>

	</tr>
	{% for strategy in strategy_list %}
		<tr
		   {% if strategy.accion == "VENDER" %}
			class="rowShort"
		   {% endif %}
		   {% if strategy.accion == "COMPRAR" %}
            class="rowLong"
           {% endif %}
		   {% if strategy.accion == "COOLDOWN" %}
            class="rowCooldown"
           {% endif %}
		>
	        <td><div class="strategy-name"><a href="/strategy/{{ strategy.id }}/0">{{ strategy }}</a></div></td>
			<td><a class="action-link" href="/toggle/{{ strategy.id }}">{{ strategy.isRunning }}</a></td>
			<td><a class="action-link" href="/unlock/{{ strategy.id }}">UNLOCK</a></td>
			<td class="mono">{{ strategy.adx|floatformat:2}}</td>
			<td class="mono">{{ strategy.plusDI|floatformat:2 }}</td>
			<td class="mono">{{ strategy.minusDI|floatformat:2 }}</td>
			<td class="mono">{{ strategy.currentRate|floatformat:4 }}</td>
			<td class="mono">{{ strategy.stopLoss|floatformat:0 }}</td>
			<td class="mono">{{ strategy.placedPrice|floatformat:4 }}</td>
			<td class="mono">{{ strategy.maxCurrentRate|floatformat:4 }}</td>
			<td class="mono">{{ strategy.nextUpdate|date:'Y-m-d H:i:s' }}</td>
			<td>{{ strategy.accion }}</td>
			<td class="mono">{{ strategy.operID }}</td>
			<td class="mono">{{ strategy.beneficioTotal|floatformat:2 }}</td>
			
		</tr>
	{% endfor %}

	<tr class="total">
		<td class="total-label" colspan="13">Total profit</td>
		<td class="mono total-value">{{ beneficio|floatformat:2 }}</td>
	</tr>

</table>

