<ul class="accountInfo">
  <li class="accountInfo"><span class="kpi-label">Balance</span><span class="kpi-value">{{ account.data.balance.balance |floatformat:2 }}</span></li>
  <li class="accountInfo"><span class="kpi-label">Equity</span><span class="kpi-value">{{ account.data.balance.equity |floatformat:2 }}</span></li>
  <li class="accountInfo"><span class="kpi-label">Potential Profit</span><span class="kpi-value {% if account.data.balance.unrealizedProfit|floatformat:2|slice:":1" == "-" %}down{% else %}up{% endif %}">{{ account.data.balance.unrealizedProfit |floatformat:2 }}</span></li>
  <li class="accountInfo"><span class="kpi-label">Operations</span><span class="kpi-value">{{ operations.totalOperations }}</span></li>
  <li class="accountInfo"><span class="kpi-label">WL Ratio</span><span class="kpi-value">{{ operations.winsLossRatio |floatformat:2 }}</span></li>
  <li class="accountInfo"><span class="kpi-label">Win PCT</span><span class="kpi-value up">{{ operations.averageWinsPct |floatformat:2 }}</span></li>
  <li class="accountInfo"><span class="kpi-label">Loss PCT</span><span class="kpi-value down">{{ operations.averageLossPct |floatformat:2 }}</span></li>
  <li class="accountInfo"><span class="kpi-label">Average PCT</span><span class="kpi-value">{{ operations.averageProfit |floatformat:2 }}</span></li>
</ul>
