
<form action="" method="post" id="configForm" onChange="submitConfigForm()">
  {% csrf_token %}
  <div class="form-field">
    <label for="{{ form.configMaxBet.id_for_label }}">Max Margin</label>
    {{ form.configMaxBet }}
  </div>
  <label class="switch-field">
    <span class="switch">
      {{ form.configProcessEnabled }}
      <span class="slider round"></span>
    </span>
    Enable Bot
  </label>
  <div class="form-divider"></div>
  <label class="switch-field">
    <span class="switch">
      {{ form.configGlobalTPEnabled }}
      <span class="slider round"></span>
    </span>
    Enable Global TP
  </label>
  <div class="form-field">
    <label for="{{ form.configGlobalTPThreshold.id_for_label }}">Threshold</label>
    {{ form.configGlobalTPThreshold }}
  </div>
  <div class="form-field">
    <label for="{{ form.configGlobalTPSleepdown.id_for_label }}">Sleepdown</label>
    {{ form.configGlobalTPSleepdown }}
  </div>
  <div class="form-field">
    <label for="{{ form.configGlobalTPWakeUp.id_for_label }}">Wake up</label>
    {{ form.configGlobalTPWakeUp }}
  </div>
</form>

<script language="javascript" type="text/javascript">
    function submitConfigForm() {
       $(this).load("/user/config/", $('#configForm').serializeArray());
    }
</script>
