{% include "header.html" with title="moTrade Login" %}

{% block content %}

<div class="box centerDiv">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1>moTrade login</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="field">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div class="field">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="Log In" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

</div>

{% endblock %}

</body>
</html>