/* moTrade CSS */

/* Login form */

.centerDiv{
  width: 800px;
  border-radius: 5px;
  background: #ccc;
  padding: 10px;
  position: absolute;
  margin-top: -25px;
  margin-left: -400px;
  top: 20%;
  left: 50%;
}

.field {
  width: 500px;
}

div.field label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}


div.field input {
line-height: 28px;
padding: 8px 16px;
width: 100%;
min-height: 44px;
border: unset;
border-radius: 4px;
outline-color: rgb(84 175 93 / 0.5);
}


/* Global styling and layout */
.box {
    padding: 15px; 
    background: #EEEEEE;
    border: 1px;
    border-color: #333333;
    border-style: dotted;
    margin-bottom: 15px;
    text-align: -webkit-center;
}

.panel {
  text-align: center;
  padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
  margin: 0px;
} 

#content {
  margin: 8px;
}

label,
textarea{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
}

input[type=button], input[type=submit], input[type=reset],
a.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  width: 140px;
  font-weight: bold;
  border-radius: 4px;
}

.toggle {
  float: left;
  padding-right: 10px;
}

/* Account info */

ul.accountInfo {
    width: 100%;
    margin: 0px;
    background: #ffffff;
}
    
li.accountInfo {
    text-align: center;
    width: 100%;
    float: left;
    list-style: none;
}

div#accountInfo {
    float: left;
}

/* Tables, maybe should rename at some point */
#strategies {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#strategies td, #strategies th {
  padding-top: 4px;
  padding-bottom: 4px;
  table-layout: auto !important;
  white-space: nowrap;
}

@media screen and (max-width: 10px) {
  #strategies tr th:nth-child(3), th:nth-child(4), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(10)
  #strategies tr td:nth-child(3), td:nth-child(4), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(10) {
    display: none !important
  }
}

#strategies tr:nth-child(even){background-color: #e0e0e0;}
#strategies tr:nth-child(odd){background-color: #fefefe;}

#strategies tr:hover {background-color: #ddd;}

#strategies th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}


.rowError    { background-color:#FF0000 !important; }
.rowShort    { background-color:#FFCCCC !important; }
.rowLong     { background-color:#CCEECC !important; }
.rowCooldown { background-color:#FFFFCC !important; }

/* FORMS */

form p label{
    float: left;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    height: 46px;
    padding-top: 15px;
    padding-left: 9px;
}


form #id_configMaxBet, form #id_configGlobalTPThreshold, form #id_configGlobalTPSleepdown { 
  height: 30px;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
 }

 form #id_configGlobalTPThreshold, form #id_configGlobalTPSleepdown { 
  width: 200px;
 }

/* Toggle switches */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Crypto Charts */

#interval-selector {
  margin: 20px;
}
#crypto-chart {
  width: 80%;
  max-width: 800px;
  height: 400px;
}
button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}
button:hover {
  background-color: #0056b3;
}
button:active {
  background-color: #003f7f;
}