<!-- Chart Div PlaceHolder -->
<div id="chart"></div>
<div id="chart1"></div>
<div id="chart2"></div>
<div id="chart3"></div>
<div id="chart4"></div>

<!-- Chart display -->
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() { 

    var gs = [];

    var data = google.visualization.arrayToDataTable(
      {{ data|safe }},
    );
	  data.insertColumn(0, 'date', data.getColumnLabel(0));
      // copy values from column 1 (old column 0) to column 0, converted to numbers
    for (var i = 0; i < data.getNumberOfRows(); i++) {
      val = data.getValue(i, 1);
      data.setValue(i, 0, new Date(val));
    }
    	// remove column 1 (the old column 0)
    data.removeColumn(1);
    var options = {
      title: '{{ title }}', 
      plugins: [ new Dygraph.Plugins.Crosshair({ direction: "both" })],
      fillGraph: true,
      series: {
        Rate:      { fillAlpha: 0.0, 
                     strokeWidth: 3.0, },
        EMA:       { fillAlpha: 0.0,
                     strokeWidth: 3.0, },
        COMPRAR:   { fillAlpha: 0.2, 
                     color: '#7fa664', 
                     axis:'y2',
                     strokeWidth: 0.0, },
        VENDER:    { fillAlpha: 0.2, 
                     color: '#f2532e', 
                     axis:'y2',
                     strokeWidth: 0.0, },
        EMA20:     { fillAlpha: 0.0,
                     strokeWidth: 3.0, },
        EMA100:    { fillAlpha: 0.0,
                     strokeWidth: 3.0, },
      },
      axes: { y2: { valueRange: [0, 1], },
              x:  { drawAxis: false }, },
  //    highlightSeriesOpts: {
  //      strokeWidth: 3,
  //      strokeBorderWidth: 1,
  //      highlightCircleSize: 5
  //    },
    }
        
    // g = new Dygraph(document.getElementById("chart"), data, options );
    gs.push(new Dygraph(document.getElementById("chart"), data, options ));

    var data1 = google.visualization.arrayToDataTable(
      {{ data1|safe }},
    );
          data1.insertColumn(0, 'date', data1.getColumnLabel(0));
      // copy values from column 1 (old column 0) to column 0, converted to numbers
    for (var i = 0; i < data1.getNumberOfRows(); i++) {
      val = data1.getValue(i, 1);
      data1.setValue(i, 0, new Date(val));
    }
        // remove column 1 (the old column 0)
    data1.removeColumn(1);
    var options1 = {
      // title: '{{ title }}', 
      plugins: [ new Dygraph.Plugins.Crosshair({ direction: "both" })],
      fillGraph: true,
      series: {
        ADX:       { fillAlpha: 0.2, 
                     color: '#f1ca3a', 
                     strokeWidth: 3.0, },
        '+DI':     { fillAlpha: 0.0, 
                     color: '#6f9654', 
                     strokeWidth: 3.0, },
        '-DI':     { fillAlpha: 0.0, 
                     color: '#e2431e', 
                     strokeWidth: 3.0, },
        DIFF:      { fillAlpha: 0.0, 
                     color: '#00532e', 
                     strokeWidth: 3.0, },
        COMPRAR:   { fillAlpha: 0.2, 
                     color: '#7fa664', 
                     axis:'y2',
                     strokeWidth: 0.0, },
        VENDER:    { fillAlpha: 0.2, 
                     color: '#f2532e', 
                     axis:'y2',
                     strokeWidth: 0.0, },
      },
      axes: { y2: { valueRange: [0, 1], },
              x:  { drawAxis: false }, },
    }
        
    gs.push(new Dygraph(document.getElementById("chart1"), data1, options1 ));

    var data2 = google.visualization.arrayToDataTable(
      {{ data2|safe }},
    );
          data2.insertColumn(0, 'date', data2.getColumnLabel(0));
      // copy values from column 1 (old column 0) to column 0, converted to numbers
    for (var i = 0; i < data2.getNumberOfRows(); i++) {
      val = data2.getValue(i, 1);
      data2.setValue(i, 0, new Date(val));
    }
        // remove column 1 (the old column 0)
    data2.removeColumn(1);
    var options2 = {
      plugins: [ new Dygraph.Plugins.Crosshair({ direction: "both" })],
      fillGraph: true,
      series: {
        PROFIT:    { fillAlpha: 0.2, 
                     strokeWidth: 3.0, },
        STOPLOSS:  { fillAlpha: 0.2, 
                     strokeWidth: 3.0, },
        COMPRAR:   { fillAlpha: 0.2, 
                     color: '#7fa664', 
                     axis:'y2',
                     strokeWidth: 0.0, },
        VENDER:    { fillAlpha: 0.2, 
                     color: '#f2532e', 
                     axis:'y2',
                     strokeWidth: 0.0, },
      },
      axes: { y2: { valueRange: [0, 1], }, x:  { drawAxis: false }, },
    }
        
    gs.push(new Dygraph(document.getElementById("chart2"), data2, options2 ));

    var data3 = google.visualization.arrayToDataTable(
      {{ data3|safe }},
    );
          data3.insertColumn(0, 'date', data3.getColumnLabel(0));
      // copy values from column 1 (old column 0) to column 0, converted to numbers
    for (var i = 0; i < data3.getNumberOfRows(); i++) {
      val = data3.getValue(i, 1);
      data3.setValue(i, 0, new Date(val));
    }
        // remove column 1 (the old column 0)
    data3.removeColumn(1);
    var options3 = {
      plugins: [ new Dygraph.Plugins.Crosshair({ direction: "both" })],
      fillGraph: true,
      series: {
        RECOMMEND: { fillAlpha: 0.2, 
                     strokeWidth: 3.0, },
        RECOMMEND: { fillAlpha: 0.2, 
                     strokeWidth: 3.0, },
        COMPRAR:   { fillAlpha: 0.2, 
                     color: '#7fa664', 
                     axis:'y2',
                     strokeWidth: 0.0, },
        VENDER:    { fillAlpha: 0.2, 
                     color: '#f2532e', 
                     axis:'y2',
                     strokeWidth: 0.0, },
      },
	    axes: { y1: { valueRange: [-1, 1], }, y2: { valueRange: [0, 1], }, x:  { drawAxis: false }, } ,
    }
        
    gs.push(new Dygraph(document.getElementById("chart3"), data3, options3 ));

    var data4  = google.visualization.arrayToDataTable(
      {{ data4 |safe }},
    );

    data4.insertColumn(0, 'date', data4 .getColumnLabel(0));

      // copy values from column 1 (old column 0) to column 0, converted to numbers
    for (var i = 0; i < data4.getNumberOfRows(); i++) {
      val = data4.getValue(i, 1);
      data4.setValue(i, 0, new Date(val));
    }

  // remove column 1 (the old column 0)
    data4.removeColumn(1);


    var options4 = {
      plugins: [ new Dygraph.Plugins.Crosshair({ direction: "both" })],
      fillGraph: true,
      showRangeSelector: true,
      rangeSelectorHeight: 30,
      series: {
        ATRPCT:    { fillAlpha: 0.2, 
                     strokeWidth: 3.0, },
        COMPRAR:   { fillAlpha: 0.2,
                     color: '#7fa664',
                     axis:'y2',
                     strokeWidth: 0.0, },
        VENDER:    { fillAlpha: 0.2,
                     color: '#f2532e',
                     axis:'y2',
                     strokeWidth: 0.0, },
      },
          axes: { y2: { valueRange: [0, 1], }, },
    }

	gs.push(new Dygraph(document.getElementById("chart4"), data4 , options4 ));


    var sync = Dygraph.synchronize(gs, {range: false} );

  }
</script>

